.Catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.News {
    display: flex;
    justify-content: center;
    margin: 40px;
    h2 {
        font-weight: lighter;
    }
}

.Product_Container {
    display: block;
    a{
        text-decoration: none;
    }

}

.Product_Wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 40px;
    margin-bottom: 40px;
    h2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        margin-left: auto;
        margin-right: auto;
    }
}

.Content_Container {
    display:flex;
    flex-direction: column;

    img {
        width: 20%;
    }
}

.Info_Container {
    display: flex;
    flex-direction: column;
}

