.Catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.News {
    display: flex;
    justify-content: center;
    margin: 40px;
    h2 {
        font-weight: lighter;
    }
}

.Product_Container {
    display: block;
    a{
        text-decoration: none;
    }

}

.Product_Wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 40px;
    margin-bottom: 40px;
    h2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-weight: 600;
    }
}

.Content_Container {
    display:flex;
    flex-direction: column;

    img {
        width: 20%;
    }
}

.Info_Container {
    display: flex;
    flex-direction: column;
}

.AdWrapper {
    background-image: url(./../../../static/img/bigxleb.jpg);
    height: 700px;
    width: 100%;
    color: white;
    h2 {
        margin-left: 19%;
        font-size: 40px;
        margin-top: 0;
        padding-top: 260px;
        font-weight: 200;
    }
    p {
        margin-left: 19%;
        font-size: 20px;
    }
}