.CarouselBox {
    width: 500px;
}

.item1 {
    display: flex;
    width: 500px;

}

.item2 {
    display: flex;
    width: 500px;
}

.carousel-control-next {
    background-color:black !important;
}