.Product_Page_Wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
}

.Back_Bttn {
    background-color: white;
    border: none;
    scale: 2.5;
    width: 1%;
    margin-bottom: 1%;
    padding: 0%;
}
.Back_Bttn:hover {
    color:orange;
}

.Info_Container {
    display: flex;
    flex-direction: column;
}

.Middle_Container {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 10%;
    img{
        height: 500px;
    }
    h2{
        font-size: 30px;
    }
}

.Cost_Container{
    position: relative;
    padding: 20px 24px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    height: 140px;
    width: 300px;
}

.Add_To_Card{
    display: flex;
    justify-content: center;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 16px;
    width: 80%;
    height: 50px;
    margin: auto;
    padding-top: 15px;
    font-size: 20px;
}

.Add_To_Card:hover{
    background-color: #efbc5f;
}

.Description_Container{
    p{
        margin-bottom: 50px;
        width: 69%;
        font-size: 23px;
        line-height: 30px;
    }
}

.About {
    margin-top: 30px;
    margin-bottom: 200px;
}

.Chart {
    width: 800px;
}